@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

#drawer {
  display: none;
}

#burger:checked ~ #drawer {
  display: block;
}

#triangle {
  clip-path: polygon(50% 23%, 0% 100%, 100% 100%);
}
